<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
{{ partial "head.html" . -}}
<body>
{{ partial "header.html" . -}}
<main>
{{ .Content -}}
<ul>

{{ if .IsHome }}
{{ range .Site.RegularPages -}}
<li><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time> &ndash; <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{ end }}
  
{{ else }} {{ range .RegularPages -}}
<li><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format
"2006 Jan 02" }}</time> &ndash; <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{ end -}} {{ end }}
</ul>
{{ if not .IsHome }}{{ partial "footer.html" . -}}{{ end }}
</main>
<br>
</body>
</html>
